---
import './Footer.less';
import BakeryLogo from '../../assets/images/bakerylogo.svg';

---
<!-- ============================================ --><!--                   Footer                     --><!-- ============================================ -->
<footer id="footer">
	<div class="cs-container">
		<!-- Logo Group -->
		<div class="cs-logo-group">
			<a aria-label="go back to home" class="cs-logo" href="/">
				<img
					class="cs-logo-img light"
					aria-hidden="true"
					loading="lazy"
					decoding="async"
					src={BakeryLogo}
					alt="logo"
					width="240"
					height="32"
				/>
			</a>
		</div>
		<!-- Links -->
		<ul class="cs-nav">
			<li class="cs-nav-li">
				<span class="cs-header">Sitemap</span>
			</li>
			<li class="cs-nav-li">
				<a class="cs-nav-link" href="#our-story">Our Story</a>
			</li>
			<li class="cs-nav-li">
				<a class="cs-nav-link" href="#cupcakes-month">Cupcakes of the month</a>
			</li>
			<li class="cs-nav-li">
				<a class="cs-nav-link" href="#cupcakes-all">All cupcakes</a>
			</li>
			<li class="cs-nav-li">
				<a class="cs-nav-link" href="#contact-us">Contact us</a>
			</li>
			<li class="cs-nav-li">
				<a class="cs-nav-link" href="#contact-us">Visit our bakery</a>
			</li>
		</ul>
		<!-- Contact Info -->
		<ul class="cs-contact">
			<li class="cs-nav-li">
				<span class="cs-header">Contact</span>
			</li>
			<li class="cs-contact-li">
				<a class="cs-contact-link" href="tel: 0768333326"
					>0768 333 326</a
				>
			</li><li class="cs-contact-li">
				<a class="cs-contact-link" href="tel: 0768333326"
					>0767 331 327</a
				>
			</li>
		</ul>
	</div>
</footer>
