---
import "./MenuList.less";
import { flavorList, withoutGluten } from "../../assets/data/flavorList";

const d = new Date();
const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
const currentMonth = months[d.getMonth()];
---

<section id="cupcakes-month">
	<div class="cs-container">
		<div class="menu-intro">
			<h2>Our flavors rotate throughout the year</h2>
			<h3>
				Cupcake selection for {currentMonth}
			</h3>
		</div>
		<div class="menulist-list">
			<ul>
				{flavorList.map((flavor) => <li><p class="flavor-item">{flavor}</p></li>)}
                <li class="menulist-list-title">Cupcakes baked without gluten</li>
                {withoutGluten.map((flavor) => <li><p class="flavor-item">{flavor}</p></li>)}
			</ul>
		</div>
	</div>
</section>
